---
import Layout from "@layouts/DefaultPage.astro";
---

<Layout>
	<h1>Hello World</h1>
	<script>
		interface Person {
			name: string;
			age: number;
		}

		const alice: Person = { name: "Alice", age: 30 };
		console.log(alice);
	</script>
</Layout>
